/*------------------
    RESET
-------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #141414;
}

/*------------------
    BUTTON RESET
-------------------*/
button{
    background-color: transparent;
    cursor: pointer;
}